.buttonPos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    position: fixed;
    bottom: 30px;
}

.button {
    margin-top: 8px !important;
    margin-right: 40px !important;
    margin-left: 40px !important;
}