.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.mask {
  z-index: 10000 !important;
  color: #ffff;
}