.recommendation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 200px;
    width: 100%;
    align-items: flex-start;
    height: 60%;
    overflow-y: auto !important;
    overflow-x: visible !important;
}

.layoutImg {
    width: 300px !important;
    height: 240px !important;
    margin: 10px;
}

.colorBlock {
    width: 100px;
    height: 100px;
    border-style: solid;
    margin: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}